body{
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 14px;
    background-color: rgb(241, 241, 239);
    color: grey;
    font-family: poppins sans-serif;
}

header{
    display: flex;
    width: 100%; 
    margin: 0 20px;   
    position: fixed;
    top: 0;
    background-color: rgb(241, 241, 239);
    padding: 10px 5px;    
}

#logo {
    width: 30%;
    font-weight: bold;
}

#navbar {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 30px;
}

#navbar li {
    list-style: none;
    width: 100px;

}

#navbar li a {
    color:rgb(102, 154, 102);
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
}


.container{
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    margin: 120px auto 50px auto; 
}

.background{
    width: 50%;
    height: 525px;
    background: linear-gradient(to right, rgb(187, 202, 192), white);
    z-index: -999;
    position: absolute;
    top:80px;
    left:50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.massage-brief{
    width: 240px;
}

.massage-brief p{
    margin:20px auto;
}


button {
    width: 120px;
    padding: 10px 20px;
    background-color: rgb(18, 55, 18);
    color: white;
    font-size: 0.6em;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 5px;
}
  
.arrow {
    width: 60px;
    font-size: 16px;
    margin-left: 5px;
}


p{
    text-align: left;
    line-height: 20px;
}

.massage-pic{
    width:280px;
    border-radius: 10px;
    margin: 0 30px;
}

.massage-section{
    width:240px;
}

.massage-services {
    border-top: 0.3px solid grey;
    padding: 10px 0;
  }



h1, h5, span{
    color:rgb(102, 154, 102);
    margin: 5px auto;
}

h5{
font-size: 18px;
}

@media screen and (max-width: 992px) {
    
    .container{ 
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
    }

    header {
        width:100%;
        margin: 0;
        z-index: 2;
    }

    .massage-brief, img {
        display: inline-block;
        align-items: center;
        margin-bottom: 100px;
    }

    .massage-brief{
        width: 50%;
        padding-top: 90px;
    }

    img{
        width: 50%;
        position: relative;
        top: 90px;
    }

    .background{
        height: 350px;
    }

    .massage-section{
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .massage-services {
        border: 0.3px solid grey;
        padding: 10px;
        margin: 10px;
        border-radius: 5px;
        width: 30%;
    }

}

@media screen and (max-width: 720px) {
    .container {
        width: 100%;
    }

    header {
        width: 100%;
        margin: 0;
        z-index: 2;
    }

    #logo{
        width: 50%;
        font-size: 1.5em;
    }

    #navbar{
        width: 50%;
    }

    #navbar li a {
        color:rgb(102, 154, 102);
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
    }

    .massage-brief {
      width: 100%;
      text-align: center;
      margin-bottom: 0;
    }
    
    .massage-brief h1,p,button {
        text-align: center;
    }


    .massage-pic {
        width: 88%;
        height: auto;
        text-align: center;
        margin-top: -50px;
        margin-bottom: 50px;
    }

    .massage-section{
        width: 100%;
        display: block;
        padding-top: 20px;
    }

    .massage-services{
        width: 90%;
        border: none;
        border-radius: 0;
        border-top: 0.3px solid grey;
        text-align: center;

    }

    .background {
        display: none;
  }
}